
@media (max-width: 700px) {
	#blogpagecontent h2 {
		font-size: 1em;
	}
}

/* MY ANIMATIONS */
@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slide-up {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}	
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.slide-up{
	animation-name: slide-up;
	-webkit-animation-name: slide-up;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes move {
  100% {
    transform: translate(-500px);
  }
}

@-moz-keyframes move {
  100% {
    transform: translate(-500px);
  }
}

@-webkit-keyframes move {
  100% {
    transform: translate(-500px);
  }
}

@keyframes movetwo {
  100% {
    transform: translateX(600px);
  }
}

@-moz-keyframes movetwo {
  100% {
    transform: translateX(600px);
  }
}

@-webkit-keyframes movetwo {
  100% {
    transform: translateX(600px);
  }
}

@keyframes movethree {
  100% {
    transform: translateX(0%) translateY(0%) scale(.25);
  }
}

@-moz-keyframes movethree {
  100% {
    transform: translateX(0%) translateY(0%) scale(.25);
  }
}

@-webkit-keyframes movethree {
  100% {
    transform: translateX(0%) translateY(0%) scale(.25);
  }
}

.move {
	animation: move 1s ease 1;
	-moz-animation: move 1s ease 1;
	-webkit-animation: move 1s ease 1;

	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	
	animation-delay: .5s;
	-moz-animation-delay: .5s;
	-webkit-animation-delay: .5s;

	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

.movetwo {
	animation: movetwo .5s ease 1;
	-moz-animation: movetwo .5s ease 1;
	-webkit-animation: movetwo .5s ease 1;

	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	
	animation-delay: .9s;
	-moz-animation-delay: .9s;
	-webkit-animation-delay: .9s;

	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;

}

.movethree {
	animation: movethree .5s ease 1;
	-moz-animation: movethree .5s ease 1;
	-webkit-animation: movethree .5s ease 1;

	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	
	animation-delay: .1s;
	-moz-animation-delay: .1s;
	-webkit-animation-delay: .1s;

	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.two {
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  animation-delay: .7s;
}

.fade-in.three {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  animation-delay: .9s;
}

.fade-in.four {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

/* OBJECT CLASSES */
img.displayed {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-top: 200px;
}

img.blogsize {
  margin-bottom: 15px;
  width:119px;
  height:130px;
  z-index: 1;
}

img.postsize {
  padding-left: 20px;
  padding-top: 20px;
  width: 59.5px;
  height: 65px;
}

br.clear {
  clear: both;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-family: Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.8em;
}

h3 {
  font-family: Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  z-index: 1;
  padding-top: 150px;
}

body {
  text-align: center;
  background-color: #00D4AD
}

a.linktext {
  font-family: Helvetica;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
}

a:hover { 
    opacity: 0;
}

.box {
    margin-left: auto;
    margin-right: auto;
    position: relative;
	background-color: #00D4AD;
	top: 245px;
	height: 70px;
	width: 400px;
	z-index: 2;
}

.boxtwo {
	margin-left: auto;
    margin-right: auto;
    position: relative;
	background-color: #00D4AD;
	top: 130px;
	height: 150px;
	width: 400px;
	z-index: 2;
}

.boxthree {
	margin-left: auto;
    margin-right: auto;
    position: relative;
	background-color: #00D4AD;
	top: 360px;
	height: 55px;
	width: 440px;
	z-index: 3;
}

#blogpagecontent {
	margin-right: auto;
	margin-left: auto;
}
