img.displayed {
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
	padding-top: 200px;
}

h1 {
	font-family: Helvetica;
	font-weight: bold;
	color: #ffffff;
}

body {
	text-align: center;
	background-color: #00D4AD
}

a.linktext {
	font-family: Helvetica;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}

a:hover { 
    color: #6D6E70;
}