@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.two {
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  animation-delay: .7s;
}

.fade-in.three {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  animation-delay: .9s;
}

img.displayed {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-top: 200px;
}

img.blogsize {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 160px;
  width:119px;
  height:130px;
}

img.postsize {
  padding-left: 20px;
  padding-top: 20px;
  width: 59.5px;
  height: 65px;
}

br.clear {
  clear: both;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-family: Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
}

h3 {
  font-family: Helvetica;
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  padding-top: 250px;
}

body {
  text-align: center;
  background-color: #00D4AD
}

a.linktext {
  font-family: Helvetica;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
}

a:hover { 
    opacity: 0;
}
