img.displayed {
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	padding-top: 200px;
}

img.blogsize {
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding-top: 160px;
	width:119px;
	height:130px;
}

img.postsize {
    padding-left: 20px;
    padding-top: 20px;
    width: 59.5px;
    height: 65px;
}

br.clear {
    clear: both;
}

h1 {
	font-family: Helvetica;
	font-weight: bold;
	color: #ffffff;
}

h2 {
	font-family: Helvetica;
	font-weight: bold;
	color: #ffffff;
	font-size: 30px;
}

h3 {
	font-family: Helvetica;
	font-weight: bold;
	color: #ffffff;
	font-size: 30px;
	padding-top: 200px;
}

body {
	text-align: center;
	background-color: #00D4AD
}

a.linktext {
	font-family: Helvetica;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

a:hover { 
    opacity: 0;
}