img.displayed

	{
		display:block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 70px;
		padding-top: 200px;
	}

h1

	{
		font-family: Helvetica;
		font-weight: bold;
		color: #ffffff;
		text-align: center;
	}

body

	{
		background-color: #00D4AD
	}