.fixedheader {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1000
}

img.postsize {
  top: 30px;
  left: 30px;
  width: 59.5px;
  height: 65px;
  float: left;
  position: absolute;
  z-index: 1000;
}

body {
	background-color: #00D4AD
}

#listenbox {
	position: relative;
	width: 200px;
	height: 100px;
	top: -100px;
	margin: 0 auto;
	background-color: #00D4AD;
	z-index: 4000;
}

.move {
	animation-duration: 1s;
    -webkit-animation-duration: 1s;

	animation-name: move;
    -webkit-animation-name: move;

	animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

}

@keyframes move {
	from {
	  transform: translateX(0px);
    }

    to {
      transform: translateX(500px)
    }
}

@-webkit-keyframes move {
	from {
		-webkit-transform: translateX(0px);
	}
	to {
		-webkit-transform: translateX(500px)
	}
}

.buttonsize {
	margin: 0 auto;
	height: 28px;
	width: 50px;
}


.bgchange {
  top: 50px;
  right: 30px;
  float: right;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 1000;
}

br.clear {
  clear: both;
}

.textformatting {
	top: 300px;
	width: 500px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	bottom: 100px;
	position: relative;
}

.textcontainerone {
	left: 0;
	right: 0;
	top: -100px;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	z-index: 0;
}

#textcontainertwo {
	left: 0;
	right: 0;
	top: -100px;
	bottom: 0;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	text-align: center;
	z-index: 2;
}

h1 {
	margin-top: 30px;
	font-family: Helvetica;
	font-weight: bold;
	color: #ffffff;
	font-size: 1.9em;
}

p {
  color: #ffffff;
  font-family: Helvetica;
  font-size: .8em;
  text-align: center;
  line-height: 1.4em;
}

p.italic {
  font-style: italic;
}

.bodytextdiv {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2000;
}

#boxone {
  top: 0px;
  left: 0px;
	width: 100%;
	height: 100%;
	background-color: #5D5D5D;
	position: fixed;
	z-index: 1;
}

.invisible {
	display: none;
}

.slidein {
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-name: slidein;
  -webkit-animation-name: slidein;

  animation-direction: both;
  -webkit-animation-direction: both;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

@keyframes slidein {
  from {
    height: 0vh;
    width: 100vw;
  }

  to {
    height: 100vh;
    width: 100vw;
  }
}

@-webkit-keyframes slidein {
  from {
    height: 0vh;
    width: 100vw;
  }

  to {
    height: 100vh;
    width: 100vw;
  }
}

.fadein {
	opacity: 0;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-name: fadein;
	-webkit-animation-name: fadein;

	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

	animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
}

.one {
	animation-delay: .8s;
	-webkit-animation-delay: .8s;
}

.two {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.slideout {
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;

  animation-name: slideout;
  -webkit-animation-name: slideout;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: fowards;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

@keyframes slideout {
  from {
    height: 100vh;
    width: 100vw;
  }

  to {
    height: 0vh;
    width: 100vw;
  }
}

@-webkit-keyframes slideout {
  from {
    height: 100vh;
    width: 100vw;
  }

  to {
    height: 0vh;
    width: 100vw;
  }
}

.fadeout {
  opacity: 1;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-name: fadeout;
  -webkit-animation-name: fadeout;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

